---
---
<header>
    <h1>GPU WARS</h1>

    <nav>
        <a href="/prologue">Prologue</a>

        <a href="/timeline">Timeline</a>

        <a href="/lab">Lab</a>

        <a href="/archives">Archives</a>

        <a href="/crew">Crew</a>
    </nav>

    <hr />
</header>